body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  display: -webkit-flex; /* Safari-specific prefix for flexbox */
  display: flex; /* Standard flexbox display */
  -webkit-flex-direction: column; /* Safari-specific prefix for flex direction */
  flex-direction: column; /* Standard flex direction */
}